@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*V = view, H = height que significa altura*/
    background: #000; 
}
a {
    position: relative;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: .1em; /*espassamento entre letras*/
    color: rgb(140, 0, 255);
    text-decoration: none; /*remove estilos no texto*/
    text-transform: uppercase; /*deixa o texto maiusculo*/
    border: 2px solid rgb(140, 0, 255); /*borda*/
    padding: 10px 30px; /*espassamento da borda*/
    z-index: 1; /*altera a ordem dos itens*/
    overflow: hidden; /*overflow muda o objeto  define o comportamento de um elemento quando suas dimensões são excedidas pelo conteúdo e hidden esconde a parte de um elemento para que ele não passe do tamanho determinado*/
    transition: color  1s, box-shadow 1s; /*tempo do "efeito"*/
}
a:hover { /*faz o elemento mudar quando o cursor passa sobre ele*/
    transition-delay: 0s/*texto*/, 1s/*luz*/;
    color: #fff;
    box-shadow: /*tamanho da luz*/
        0 0 10px rgb(140, 0, 255), /*estagios da luz*/
        0 0 20px rgb(140, 0, 255),
        0 0 40px rgb(140, 0, 255),
        0 0 80px rgb(140, 0, 255),
        0 0 160px rgb(140, 0, 255);
}
a::before { /*adiciona conteudo decorativo*/
    content: '';
    position: absolute; /*posiciona o elemento ao elemento mais próximo dele*/
    top: 0; /*Posiciona o elemento a partir do topo da página*/
    left: -50px;
    width: 0;
    height: 100%;
    background: rgb(140, 0, 255);
    transform: skewX(35deg); /*inclinação*/
    z-index: -1; /*altera a ordem dos itens*/
    transition: 1s; 
}
a:hover:before {
    width: 100%;
}