p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3rem;
    font-family: Arial;
}
ul {
    display: flex;
    flex-wrap: wrap;
    /* A propriedade CSS flex-wrap define se os itens flexíveis são forçados a ficarem na mesma linha ou se podem ser quebradas em varias linhas. Se o argumento for valido, ele define a direção em que as linhas são empilhadas. */
}
li {
    height: 40vh;
    flex-grow: 1;
    /* A propriedade flex do CSS, define como um item será poicionado no espaço disponivel dentro do seu computador. */
}
li:last-child {
    flex-grow: 10;
}
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    /*A propriedade CSS object-fit especifica como conteudo de um elemento substituido deve ser ajustado á caixa estabelecida pela altura e largura usadas */
    vertical-align: bottom;
}
