@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
    font-family: open sans;
    color: white;
    background: linear-gradient(rgb(132, 0, 255), rgb(255, 231, 14));
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

header{
    background: radial-gradient(circle at 10% , #F8CA00, #a200ff);
    padding: 20px;
}

.conteiner{
    margin: 0 auto;
    width: 960px;
}

.artistas{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
img{
    width: 300px;
    border: nome;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px; 
    margin-right: 10px;

    box-shadow: 5px 5px 4px rgba(0,0,0,.4);
}

a{
    text-decoration: none;
    transition: transform 1s;
    color: white;
    text-align: center;
}

a:hover{
    transform: scale(1.1);
    width: 400px;
}

a::before{
    transition: 1s; 
    width: 300px;
}

footer{
    background-color: black;
    padding: 20px;
}


