




.conteiner{
    margin: 0 auto;
    width: 960px;
}

.artistas{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 70%;
    border: nome;
    border-radius: 15px;
}

a{
    transition: width 1s;
}

a:hover{
    width: 80%;
    transition-delay: 1s;
}

a::before{
    transition: 1s; 
}