


body{
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(17, 0, 255));
}

header{
    background-color: black;
    padding: 20px;
}

.conteiner{
    margin: 0 auto;
    width: 960px;
}

.artistas{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
img{
    width: 300px;
    border: nome;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px; 
    margin-right: 10px;
}

a{
    text-decoration: none;
    transition: transform 1s;
    color: white;
    text-align: center;
    z-index: 0;
}

a:hover{
    transform: scale(1.1);
    width: 400px;
}

a::before{
    transition: 1s; 
    width: 300px;
}

footer{
    background-color: black;
    padding: 20px;
}


