* { box-sizing: border-box;
}

.botao1 {
    border: 2px solid #ac1a1a;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}
.botao2 {
    border: 2px solid #ac1a1a;
    height: 26px;
    padding: 5px 15px ;
    width: 90px;
}
.caixa {
    background-color: #1aac46;
    width: 250px;
}
.caixa-com-padding {
    background-color: aqua;
    padding: 0 25px;
    width: 250;
}
.faixa {
    border: #1aac46;
    height: 100px;
    margin: 40px;
    width: 400px;
}
.faixa1 {
    font-size: 1.2em;
    text-align: center;
}