* { box-sizing: border-box;
}

.botao1 {
    border: 2px solid #F4CE14;
    background-color: #45474B;
    color: #F5F7F8;
    height: 30px;
    padding: 5px 10px;
    width: 90px;
}
.botao2 {
    border: 2px solid #45474B;
    background-color: #F4CE14;
    height: 30px;
    padding: 5px 10px ;
    width: 90px;
}
.caixa {
    background-color: #F4CE14;
    width: 250px;
}
.caixa-com-padding {
    background-color: #495E57;
    padding: 0 25px;
    width: 250px;
}
.faixa {
    border: 2px solid #445D48;
    height: 100px;
    margin: 40px;
    width: 400px;
}
.faixa h1 {
    background-color: #001524;
    color: #FDE5D4;
    font-size: 1.2em;
    left: -10px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 416px;
    margin-top: 13px;
}
.faixa h1::before {
    border-color: transparent #001524 #001524 transparent;
    border-style: solid;
    border-width: 5px;
    content:"";
    left: 0;
    position: absolute;
    top: -10px
}
.faixa h1::after {
    border-color: transparent transparent #001524 #001524;
    border-style: solid;
    border-width: 5px;
    content:"";
    right: 0;
    position: absolute;
    top: -10px
}
.ajuda {
    background-color: #D6CC99;
    border: 1px solid #445D48;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.ajuda::before {
    border-color: transparent #445D48 transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}