.botao1 {
    border: 1px solid #ac1a1a;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}
.botao2 {
    border: 1px solid;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}
.botao3 {
    border: 1px solid;
    height: 26px;
    padding: 5px 15px;
    width: 90px;
}